/* line 5, /Users/ghost/Sites/porpoise/source/stylesheets/all.css.scss */
body, html {
  width: 100%;
  height: 100%; }

/* line 10, /Users/ghost/Sites/porpoise/source/stylesheets/all.css.scss */
img {
  width: 80px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  bottom: -30%;
  left: 55%;
  -moz-animation: porpoise 3000ms 2000ms infinite ease-in-out;
  -webkit-animation: porpoise 3000ms 2000ms infinite ease-in-out;
  animation: porpoise 3000ms 2000ms infinite ease-in-out; }

/* line 20, /Users/ghost/Sites/porpoise/source/stylesheets/all.css.scss */
iframe {
  position: absolute;
  left: -1000%; }

@-moz-keyframes porpoise {
  0% {
    bottom: -30%;
    left: 55%;
    -moz-transform: rotate(120deg);
    transform: rotate(120deg); }
  33% {
    bottom: 80%; }
  66% {
    bottom: -30%;
    left: 40%;
    -moz-transform: rotate(-460deg);
    transform: rotate(-460deg); }
  100% {
    bottom: -30%;
    left: 40%;
    -moz-transform: rotate(-460deg);
    transform: rotate(-460deg); } }
@-webkit-keyframes porpoise {
  0% {
    bottom: -30%;
    left: 55%;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  33% {
    bottom: 80%; }
  66% {
    bottom: -30%;
    left: 40%;
    -webkit-transform: rotate(-460deg);
    transform: rotate(-460deg); }
  100% {
    bottom: -30%;
    left: 40%;
    -webkit-transform: rotate(-460deg);
    transform: rotate(-460deg); } }
@keyframes porpoise {
  0% {
    bottom: -30%;
    left: 55%;
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  33% {
    bottom: 80%; }
  66% {
    bottom: -30%;
    left: 40%;
    -moz-transform: rotate(-460deg);
    -ms-transform: rotate(-460deg);
    -webkit-transform: rotate(-460deg);
    transform: rotate(-460deg); }
  100% {
    bottom: -30%;
    left: 40%;
    -moz-transform: rotate(-460deg);
    -ms-transform: rotate(-460deg);
    -webkit-transform: rotate(-460deg);
    transform: rotate(-460deg); } }
